{
  "openapi": "3.1.0",
  "info": {
    "title": "Emerge API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://link.emergedata.ai",
      "description": "Link API - Consent collection"
    },
    {
      "url": "https://query.emergedata.ai",
      "description": "Query API - Data retrieval"
    }
  ],
  "paths": {
    "/configs": {
      "post": {
        "tags": [
          "Link"
        ],
        "summary": "Create Flow Config",
        "description": "Create a new flow configuration for the authenticated client.\n\nThis endpoint allows partners to programmatically create flow configurations\nwith custom branding. The logo is fetched from the provided URL, optimized\nfor display (resized to max 400x400 pixels), and stored in S3.\n\nArgs:\n    body: Flow configuration details including company name, logo URL, etc.\n    client_id: Authenticated client ID from JWT token\n\nReturns:\n    Created flow configuration with S3 logo URL and preview link\n\nRaises:\n    400: Invalid request (bad config name, unreachable logo, unsupported image type)\n    409: Config name already exists for this client\n    500: S3 upload failure",
        "operationId": "create_flow_config_configs_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Link_CreateFlowConfigRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link_FlowConfigResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link_HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-mint": {
          "server": "https://link.emergedata.ai"
        }
      }
    },
    "/export/status/{uid}": {
      "get": {
        "tags": [
          "Link"
        ],
        "summary": "Get Export Status",
        "description": "Check if DPAPI export data is ready and queryable.\n\nPartners can poll this endpoint to know when user data\nhas been processed and is available in ClickHouse.\n\nArgs:\n    uid: Partner's user identifier (partner_uid)\n    client_id: Authenticated client ID from JWT\n\nReturns:\n    Status indicating if data is ready, with timestamps",
        "operationId": "get_export_status_export_status__uid__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Uid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link_ExportStatusResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link_HTTPValidationError"
                }
              }
            }
          }
        },
        "x-mint": {
          "server": "https://link.emergedata.ai"
        }
      }
    },
    "/v1/search": {
      "get": {
        "tags": [
          "Query Async"
        ],
        "summary": "Search",
        "operationId": "search_v1_search_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "begin",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Begin"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "End"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Category"
            }
          },
          {
            "name": "ingested_begin",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Ingested Begin"
            }
          },
          {
            "name": "ingested_end",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Ingested End"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "null"
                  }
                ],
                "title": "Users"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Query_CreateJobResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Query_HTTPValidationError"
                }
              }
            }
          }
        },
        "x-mint": {
          "server": "https://query.emergedata.ai"
        }
      }
    },
    "/v1/browsing": {
      "get": {
        "tags": [
          "Query Async"
        ],
        "summary": "Browsing",
        "operationId": "browsing_v1_browsing_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "begin",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Begin"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "End"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Category"
            }
          },
          {
            "name": "ingested_begin",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Ingested Begin"
            }
          },
          {
            "name": "ingested_end",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Ingested End"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "null"
                  }
                ],
                "title": "Users"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Query_CreateJobResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Query_HTTPValidationError"
                }
              }
            }
          }
        },
        "x-mint": {
          "server": "https://query.emergedata.ai"
        }
      }
    },
    "/v1/youtube": {
      "get": {
        "tags": [
          "Query Async"
        ],
        "summary": "Youtube",
        "operationId": "youtube_v1_youtube_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "begin",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Begin"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "End"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Category"
            }
          },
          {
            "name": "ingested_begin",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Ingested Begin"
            }
          },
          {
            "name": "ingested_end",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Ingested End"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "null"
                  }
                ],
                "title": "Users"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Query_CreateJobResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Query_HTTPValidationError"
                }
              }
            }
          }
        },
        "x-mint": {
          "server": "https://query.emergedata.ai"
        }
      }
    },
    "/v1/ads": {
      "get": {
        "tags": [
          "Query Async"
        ],
        "summary": "Ads",
        "operationId": "ads_v1_ads_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "begin",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Begin"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "End"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Category"
            }
          },
          {
            "name": "ingested_begin",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Ingested Begin"
            }
          },
          {
            "name": "ingested_end",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Ingested End"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "null"
                  }
                ],
                "title": "Users"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Query_CreateJobResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Query_HTTPValidationError"
                }
              }
            }
          }
        },
        "x-mint": {
          "server": "https://query.emergedata.ai"
        }
      }
    },
    "/v1/job/{task_id}": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Job",
        "operationId": "job_v1_job__task_id__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Task Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Query_QueryJob"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Query_HTTPValidationError"
                }
              }
            }
          }
        },
        "x-mint": {
          "server": "https://query.emergedata.ai"
        }
      }
    },
    "/v1/jobs": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Jobs",
        "operationId": "jobs_v1_jobs_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Query_QueryJob"
                  },
                  "type": "array",
                  "title": "Response Jobs V1 Jobs Get"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-mint": {
          "server": "https://query.emergedata.ai"
        }
      }
    },
    "/v1/sync/get_search": {
      "get": {
        "tags": [
          "Query Sync"
        ],
        "summary": "Get search history (synchronous)",
        "description": "Returns search history data immediately using the api_search mart view. Limited to 10,000 rows.",
        "operationId": "_inner_v1_sync_get_search_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "begin",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by event timestamp (start)",
              "title": "Begin"
            },
            "description": "Filter by event timestamp (start)"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by event timestamp (end)",
              "title": "End"
            },
            "description": "Filter by event timestamp (end)"
          },
          {
            "name": "ingested_begin",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by ingestion timestamp (start)",
              "title": "Ingested Begin"
            },
            "description": "Filter by ingestion timestamp (start)"
          },
          {
            "name": "ingested_end",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by ingestion timestamp (end), defaults to now()",
              "title": "Ingested End"
            },
            "description": "Filter by ingestion timestamp (end), defaults to now()"
          },
          {
            "name": "uid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Your user reference",
              "examples": [
                "alice@yourcompany.com"
              ],
              "title": "Uid"
            },
            "description": "Your user reference"
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Category subtree to filter by",
              "examples": [
                "/Shopping",
                "/Finance/Investing"
              ],
              "title": "Category"
            },
            "description": "Category subtree to filter by"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100000000,
              "minimum": 1,
              "description": "Maximum number of rows to return",
              "default": 1000,
              "title": "Limit"
            },
            "description": "Maximum number of rows to return"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Pagination cursor from previous response",
              "title": "Cursor"
            },
            "description": "Pagination cursor from previous response"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Query_SearchDataResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Query_HTTPValidationError"
                }
              }
            }
          }
        },
        "x-mint": {
          "server": "https://query.emergedata.ai"
        }
      }
    },
    "/v1/sync/get_browsing": {
      "get": {
        "tags": [
          "Query Sync"
        ],
        "summary": "Get browsing history (synchronous)",
        "description": "Returns browsing history data immediately using the api_browsing mart view. Limited to 10,000 rows.",
        "operationId": "_inner_v1_sync_get_browsing_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "begin",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by event timestamp (start)",
              "title": "Begin"
            },
            "description": "Filter by event timestamp (start)"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by event timestamp (end)",
              "title": "End"
            },
            "description": "Filter by event timestamp (end)"
          },
          {
            "name": "ingested_begin",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by ingestion timestamp (start)",
              "title": "Ingested Begin"
            },
            "description": "Filter by ingestion timestamp (start)"
          },
          {
            "name": "ingested_end",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by ingestion timestamp (end), defaults to now()",
              "title": "Ingested End"
            },
            "description": "Filter by ingestion timestamp (end), defaults to now()"
          },
          {
            "name": "uid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Your user reference",
              "examples": [
                "alice@yourcompany.com"
              ],
              "title": "Uid"
            },
            "description": "Your user reference"
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Category subtree to filter by",
              "examples": [
                "/Shopping",
                "/Finance/Investing"
              ],
              "title": "Category"
            },
            "description": "Category subtree to filter by"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100000000,
              "minimum": 1,
              "description": "Maximum number of rows to return",
              "default": 1000,
              "title": "Limit"
            },
            "description": "Maximum number of rows to return"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Pagination cursor from previous response",
              "title": "Cursor"
            },
            "description": "Pagination cursor from previous response"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Query_BrowsingDataResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Query_HTTPValidationError"
                }
              }
            }
          }
        },
        "x-mint": {
          "server": "https://query.emergedata.ai"
        }
      }
    },
    "/v1/sync/get_youtube": {
      "get": {
        "tags": [
          "Query Sync"
        ],
        "summary": "Get YouTube activity (synchronous)",
        "description": "Returns YouTube activity data immediately using the api_youtube mart view. Limited to 10,000 rows.",
        "operationId": "_inner_v1_sync_get_youtube_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "begin",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by event timestamp (start)",
              "title": "Begin"
            },
            "description": "Filter by event timestamp (start)"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by event timestamp (end)",
              "title": "End"
            },
            "description": "Filter by event timestamp (end)"
          },
          {
            "name": "ingested_begin",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by ingestion timestamp (start)",
              "title": "Ingested Begin"
            },
            "description": "Filter by ingestion timestamp (start)"
          },
          {
            "name": "ingested_end",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by ingestion timestamp (end), defaults to now()",
              "title": "Ingested End"
            },
            "description": "Filter by ingestion timestamp (end), defaults to now()"
          },
          {
            "name": "uid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Your user reference",
              "examples": [
                "alice@yourcompany.com"
              ],
              "title": "Uid"
            },
            "description": "Your user reference"
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Category subtree to filter by",
              "examples": [
                "/Shopping",
                "/Finance/Investing"
              ],
              "title": "Category"
            },
            "description": "Category subtree to filter by"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100000000,
              "minimum": 1,
              "description": "Maximum number of rows to return",
              "default": 1000,
              "title": "Limit"
            },
            "description": "Maximum number of rows to return"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Pagination cursor from previous response",
              "title": "Cursor"
            },
            "description": "Pagination cursor from previous response"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Query_YouTubeDataResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Query_HTTPValidationError"
                }
              }
            }
          }
        },
        "x-mint": {
          "server": "https://query.emergedata.ai"
        }
      }
    },
    "/v1/sync/get_ads": {
      "get": {
        "tags": [
          "Query Sync"
        ],
        "summary": "Get ad impressions (synchronous)",
        "description": "Returns ad impression data immediately using the api_ads mart view. Limited to 10,000 rows.",
        "operationId": "_inner_v1_sync_get_ads_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "begin",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by event timestamp (start)",
              "title": "Begin"
            },
            "description": "Filter by event timestamp (start)"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by event timestamp (end)",
              "title": "End"
            },
            "description": "Filter by event timestamp (end)"
          },
          {
            "name": "ingested_begin",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by ingestion timestamp (start)",
              "title": "Ingested Begin"
            },
            "description": "Filter by ingestion timestamp (start)"
          },
          {
            "name": "ingested_end",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by ingestion timestamp (end), defaults to now()",
              "title": "Ingested End"
            },
            "description": "Filter by ingestion timestamp (end), defaults to now()"
          },
          {
            "name": "uid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Your user reference",
              "examples": [
                "alice@yourcompany.com"
              ],
              "title": "Uid"
            },
            "description": "Your user reference"
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Category subtree to filter by",
              "examples": [
                "/Shopping",
                "/Finance/Investing"
              ],
              "title": "Category"
            },
            "description": "Category subtree to filter by"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100000000,
              "minimum": 1,
              "description": "Maximum number of rows to return",
              "default": 1000,
              "title": "Limit"
            },
            "description": "Maximum number of rows to return"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Pagination cursor from previous response",
              "title": "Cursor"
            },
            "description": "Pagination cursor from previous response"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Query_AdsDataResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Query_HTTPValidationError"
                }
              }
            }
          }
        },
        "x-mint": {
          "server": "https://query.emergedata.ai"
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Link_CreateFlowConfigRequest": {
        "properties": {
          "config_name": {
            "type": "string",
            "title": "Config Name"
          },
          "company_name": {
            "type": "string",
            "title": "Company Name"
          },
          "logo_url": {
            "type": "string",
            "title": "Logo Url"
          },
          "privacy_policy_url": {
            "type": "string",
            "title": "Privacy Policy Url"
          },
          "webhook_url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Webhook Url"
          },
          "flow_version": {
            "type": "string",
            "title": "Flow Version",
            "default": "lm"
          },
          "is_default": {
            "type": "boolean",
            "title": "Is Default",
            "default": false
          }
        },
        "type": "object",
        "required": [
          "config_name",
          "company_name",
          "logo_url",
          "privacy_policy_url"
        ],
        "title": "CreateFlowConfigRequest",
        "description": "Request to create a new flow configuration via API."
      },
      "Link_ExportStatusResponse": {
        "properties": {
          "uid": {
            "type": "string",
            "title": "Uid"
          },
          "data_ready": {
            "type": "boolean",
            "title": "Data Ready"
          },
          "data_landed_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Data Landed At"
          },
          "export_status": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Export Status"
          },
          "export_completed_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Export Completed At"
          }
        },
        "type": "object",
        "required": [
          "uid",
          "data_ready"
        ],
        "title": "ExportStatusResponse",
        "description": "Response for export data status check."
      },
      "Link_FlowConfigResponse": {
        "properties": {
          "config_id": {
            "type": "string",
            "title": "Config Id"
          },
          "config_name": {
            "type": "string",
            "title": "Config Name"
          },
          "company_name": {
            "type": "string",
            "title": "Company Name"
          },
          "logo_url": {
            "type": "string",
            "title": "Logo Url"
          },
          "privacy_policy_url": {
            "type": "string",
            "title": "Privacy Policy Url"
          },
          "webhook_url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Webhook Url"
          },
          "flow_version": {
            "type": "string",
            "title": "Flow Version"
          },
          "is_default": {
            "type": "boolean",
            "title": "Is Default"
          },
          "preview_url": {
            "type": "string",
            "title": "Preview Url"
          }
        },
        "type": "object",
        "required": [
          "config_id",
          "config_name",
          "company_name",
          "logo_url",
          "privacy_policy_url",
          "webhook_url",
          "flow_version",
          "is_default",
          "preview_url"
        ],
        "title": "FlowConfigResponse",
        "description": "Response after creating a flow configuration."
      },
      "Link_HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/Link_ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "Link_ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      },
      "Query_AdsDataResponse": {
        "properties": {
          "data": {
            "items": {
              "$ref": "#/components/schemas/Query_AdsEvent"
            },
            "type": "array",
            "title": "Data"
          },
          "count": {
            "type": "integer",
            "title": "Count"
          },
          "next_cursor": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Next Cursor"
          },
          "has_more": {
            "type": "boolean",
            "title": "Has More",
            "default": false
          },
          "applied_ingested_end": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Applied Ingested End"
          }
        },
        "type": "object",
        "required": [
          "data",
          "count"
        ],
        "title": "AdsDataResponse"
      },
      "Query_AdsEvent": {
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User Id"
          },
          "event_id": {
            "type": "integer",
            "title": "Event Id"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "title": "Timestamp"
          },
          "ingested_at": {
            "type": "string",
            "format": "date-time",
            "title": "Ingested At"
          },
          "source_domain": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Source Domain"
          },
          "landing_domain": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Landing Domain"
          },
          "url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Url"
          },
          "title": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Title"
          },
          "category": {
            "type": "string",
            "title": "Category"
          },
          "brands": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ]
            },
            "type": "array",
            "title": "Brands"
          },
          "ad_network": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ad Network"
          }
        },
        "type": "object",
        "required": [
          "user_id",
          "event_id",
          "timestamp",
          "ingested_at",
          "source_domain",
          "landing_domain",
          "url",
          "title",
          "category",
          "brands",
          "ad_network"
        ],
        "title": "AdsEvent"
      },
      "Query_BrowsingDataResponse": {
        "properties": {
          "data": {
            "items": {
              "$ref": "#/components/schemas/Query_BrowsingEvent"
            },
            "type": "array",
            "title": "Data"
          },
          "count": {
            "type": "integer",
            "title": "Count"
          },
          "next_cursor": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Next Cursor"
          },
          "has_more": {
            "type": "boolean",
            "title": "Has More",
            "default": false
          },
          "applied_ingested_end": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Applied Ingested End"
          }
        },
        "type": "object",
        "required": [
          "data",
          "count"
        ],
        "title": "BrowsingDataResponse"
      },
      "Query_BrowsingEvent": {
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User Id"
          },
          "event_id": {
            "type": "integer",
            "title": "Event Id"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "title": "Timestamp"
          },
          "ingested_at": {
            "type": "string",
            "format": "date-time",
            "title": "Ingested At"
          },
          "url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Url"
          },
          "title": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Title"
          },
          "page_category": {
            "type": "string",
            "title": "Page Category"
          },
          "category": {
            "type": "string",
            "title": "Category"
          },
          "brands": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Brands"
          }
        },
        "type": "object",
        "required": [
          "user_id",
          "event_id",
          "timestamp",
          "ingested_at",
          "url",
          "title",
          "page_category",
          "category",
          "brands"
        ],
        "title": "BrowsingEvent"
      },
      "Query_CreateJobResponse": {
        "properties": {
          "job_id": {
            "type": "string",
            "title": "Job Id"
          },
          "status": {
            "$ref": "#/components/schemas/Query_JobStatus"
          }
        },
        "type": "object",
        "required": [
          "job_id",
          "status"
        ],
        "title": "CreateJobResponse"
      },
      "Query_HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/Query_ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "Query_JobStatus": {
        "type": "string",
        "enum": [
          "PENDING",
          "RUNNING",
          "COMPLETED",
          "FAILED"
        ],
        "title": "JobStatus"
      },
      "Query_QueryJob": {
        "properties": {
          "task_id": {
            "type": "string",
            "format": "uuid",
            "title": "Task Id"
          },
          "status": {
            "$ref": "#/components/schemas/Query_JobStatus"
          },
          "url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Url"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At"
          },
          "expire_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Expire At"
          }
        },
        "type": "object",
        "required": [
          "task_id",
          "status",
          "created_at"
        ],
        "title": "QueryJob"
      },
      "Query_SearchDataResponse": {
        "properties": {
          "data": {
            "items": {
              "$ref": "#/components/schemas/Query_SearchEvent"
            },
            "type": "array",
            "title": "Data"
          },
          "count": {
            "type": "integer",
            "title": "Count"
          },
          "next_cursor": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Next Cursor"
          },
          "has_more": {
            "type": "boolean",
            "title": "Has More",
            "default": false
          },
          "applied_ingested_end": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Applied Ingested End"
          }
        },
        "type": "object",
        "required": [
          "data",
          "count"
        ],
        "title": "SearchDataResponse"
      },
      "Query_SearchEvent": {
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User Id"
          },
          "event_id": {
            "type": "integer",
            "title": "Event Id"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "title": "Timestamp"
          },
          "ingested_at": {
            "type": "string",
            "format": "date-time",
            "title": "Ingested At"
          },
          "url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Url"
          },
          "title": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Title"
          },
          "query": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Query"
          },
          "intent": {
            "type": "string",
            "title": "Intent"
          },
          "category": {
            "type": "string",
            "title": "Category"
          },
          "brands": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Brands"
          }
        },
        "type": "object",
        "required": [
          "user_id",
          "event_id",
          "timestamp",
          "ingested_at",
          "url",
          "title",
          "query",
          "intent",
          "category",
          "brands"
        ],
        "title": "SearchEvent"
      },
      "Query_ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      },
      "Query_YouTubeDataResponse": {
        "properties": {
          "data": {
            "items": {
              "$ref": "#/components/schemas/Query_YouTubeEvent"
            },
            "type": "array",
            "title": "Data"
          },
          "count": {
            "type": "integer",
            "title": "Count"
          },
          "next_cursor": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Next Cursor"
          },
          "has_more": {
            "type": "boolean",
            "title": "Has More",
            "default": false
          },
          "applied_ingested_end": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Applied Ingested End"
          }
        },
        "type": "object",
        "required": [
          "data",
          "count"
        ],
        "title": "YouTubeDataResponse"
      },
      "Query_YouTubeEvent": {
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User Id"
          },
          "event_id": {
            "type": "integer",
            "title": "Event Id"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "title": "Timestamp"
          },
          "ingested_at": {
            "type": "string",
            "format": "date-time",
            "title": "Ingested At"
          },
          "url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Url"
          },
          "title": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Title"
          },
          "category": {
            "type": "string",
            "title": "Category"
          },
          "brands": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Brands"
          }
        },
        "type": "object",
        "required": [
          "user_id",
          "event_id",
          "timestamp",
          "ingested_at",
          "url",
          "title",
          "category",
          "brands"
        ],
        "title": "YouTubeEvent"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API token from the Control Room. Include as `Authorization: Bearer <token>`"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Link",
      "description": "Consent flow configuration and status"
    },
    {
      "name": "Query Async",
      "description": "Asynchronous data queries with job polling"
    },
    {
      "name": "Query Sync",
      "description": "Synchronous data queries with immediate response"
    },
    {
      "name": "Jobs",
      "description": "Job status and management"
    }
  ]
}
