{
  "openapi": "3.1.0",
  "info": {
    "title": "Emerge API",
    "version": "1.0.0",
    "description": "Privacy-first API for accessing consented user data. Emerge provides two main services: **Link** for collecting user consent and **Query** for retrieving user data.",
    "contact": {
      "name": "Emerge Support",
      "email": "account@emergedata.ai"
    }
  },
  "servers": [
    {
      "url": "https://link.emergedata.ai",
      "description": "Link API - Consent collection"
    }
  ],
  "paths": {
    "/link/start": {
      "get": {
        "tags": [
          "Link"
        ],
        "summary": "Link Start",
        "description": "Start Link OAuth flow.\n\nTWO MODES:\n\n1. SESSION-BASED (sid provided):\n   - Requires ONLY: sid\n   - Optional: oauth_complete, flow_version\n   - All other params (client_id, redirect_uri, state, signature, timestamp) are REDUNDANT and IGNORED\n   - Looks up session from database, gets all data from there\n   - Serves frontend with session data\n   - If oauth_complete=true, frontend handles OAuth completion and redirect\n\n2. INITIAL FLOW (no sid):\n   - Requires: client_id, redirect_uri, state, signature, timestamp\n   - Validates HMAC signature for security\n   - Creates new session in database\n   - Serves frontend with new sid\n\nThe sid-based mode eliminates redundant parameters - once a session exists,\neverything is stored in the database and can be retrieved via sid alone.",
        "operationId": "link_start_link_start_get",
        "parameters": [
          {
            "name": "sid",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Session ID - if provided, all other params except oauth_complete/flow_version are ignored",
              "title": "Sid"
            },
            "description": "Session ID - if provided, all other params except oauth_complete/flow_version are ignored"
          },
          {
            "name": "oauth_complete",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "OAuth completion flag for mobile flow",
              "default": false,
              "title": "Oauth Complete"
            },
            "description": "OAuth completion flag for mobile flow"
          },
          {
            "name": "oauth_error",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "OAuth error code for mobile flow - shows trouble modal",
              "title": "Oauth Error"
            },
            "description": "OAuth error code for mobile flow - shows trouble modal"
          },
          {
            "name": "flow_version",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "UI flow version: lm, lm2, lm3",
              "default": "lm",
              "title": "Flow Version"
            },
            "description": "UI flow version: lm, lm2, lm3"
          },
          {
            "name": "flow_config",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Named flow config - mutually exclusive with flow_version",
              "title": "Flow Config"
            },
            "description": "Named flow config - mutually exclusive with flow_version"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Client identifier (required if no sid)",
              "title": "Client Id"
            },
            "description": "Client identifier (required if no sid)"
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Redirect URI (required if no sid)",
              "title": "Redirect Uri"
            },
            "description": "Redirect URI (required if no sid)"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Partner state/session data (optional)",
              "title": "State"
            },
            "description": "Partner state/session data (optional)"
          },
          {
            "name": "uid",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Partner's user identifier (optional, we generate if not provided)",
              "title": "Uid"
            },
            "description": "Partner's user identifier (optional, we generate if not provided)"
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Locale (optional, defaults to 'en' if not provided)",
              "title": "Locale"
            },
            "description": "Locale (optional, defaults to 'en' if not provided)"
          },
          {
            "name": "signature",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "HMAC signature (required if no sid)",
              "title": "Signature"
            },
            "description": "HMAC signature (required if no sid)"
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Request timestamp (required if no sid)",
              "title": "Timestamp"
            },
            "description": "Request timestamp (required if no sid)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "default": {
                    "summary": "Example response",
                    "value": {
                      "status": "session_initialized",
                      "sid": "sid_3f2b6c7d8e9f",
                      "message": "Continue the hosted Link flow in the returned session context."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                },
                "example": {
                  "detail": [
                    {
                      "loc": [
                        "query",
                        "uid"
                      ],
                      "msg": "Field required",
                      "type": "missing"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "server": "https://link.emergedata.ai"
        }
      }
    },
    "/configs": {
      "get": {
        "tags": [
          "Link"
        ],
        "summary": "List Flow Configs",
        "description": "List all flow configurations for the authenticated client.\n\nReturns all configs with their details including S3 logo URLs and preview links.",
        "operationId": "list_flow_configs_configs_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/FlowConfigResponse"
                  },
                  "type": "array",
                  "title": "Response List Flow Configs Configs Get"
                },
                "examples": {
                  "default": {
                    "summary": "Default flow config",
                    "value": [
                      {
                        "config_id": "cfg_30bfe2ca",
                        "config_name": "default",
                        "company_name": "Wonderful AI",
                        "logo_url": "https://assets.emergedata.ai/logo/wonderful-ai.png",
                        "privacy_policy_url": "https://wonderful.ai/privacy",
                        "webhook_url": "https://api.wonderful.ai/webhooks/emerge",
                        "flow_version": "emerge",
                        "is_default": true,
                        "preview_url": "https://link.emergedata.ai/preview/ck_live_123?flow_config=default"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-mint": {
          "server": "https://link.emergedata.ai"
        }
      },
      "post": {
        "tags": [
          "Link"
        ],
        "summary": "Create Flow Config",
        "description": "Create or update a flow configuration for the authenticated client.\n\nThis endpoint allows partners to programmatically create flow configurations\nwith custom branding. The logo is fetched from the provided URL, optimized\nfor display (resized to max 400x400 pixels), and stored in S3.\n\nIf config_name already exists, updates the existing configuration.\n\nArgs:\n    body: Flow configuration details including company name, logo URL, etc.\n    client_id: Authenticated client ID from JWT token\n\nReturns:\n    Created or updated flow configuration with S3 logo URL and preview link\n\nRaises:\n    400: Invalid request (bad config name, unreachable logo, unsupported image type)\n    500: S3 upload failure",
        "operationId": "create_flow_config_configs_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFlowConfigRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlowConfigResponse"
                },
                "examples": {
                  "default": {
                    "summary": "Created config",
                    "value": {
                      "config_id": "cfg_30bfe2ca",
                      "config_name": "default",
                      "company_name": "Wonderful AI",
                      "logo_url": "https://assets.emergedata.ai/logo/wonderful-ai.png",
                      "privacy_policy_url": "https://wonderful.ai/privacy",
                      "webhook_url": "https://api.wonderful.ai/webhooks/emerge",
                      "flow_version": "emerge",
                      "is_default": true,
                      "preview_url": "https://link.emergedata.ai/preview/ck_live_123?flow_config=default"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                },
                "example": {
                  "detail": [
                    {
                      "loc": [
                        "query",
                        "uid"
                      ],
                      "msg": "Field required",
                      "type": "missing"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-mint": {
          "server": "https://link.emergedata.ai"
        }
      }
    },
    "/consent/status/{uid}": {
      "get": {
        "tags": [
          "Link"
        ],
        "summary": "Get Consent Status",
        "description": "Get consent status per provider for a partner user (`uid`).\n\nThe response is reconstructed from partner mappings and consent webhook history.",
        "operationId": "get_consent_status_consent_status__uid__get",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Uid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsentStatusResponse"
                },
                "examples": {
                  "default": {
                    "summary": "Provider consent statuses",
                    "value": {
                      "sub": "psub_d4e5f6789012345678901234abcdef01",
                      "client_id": "ck_live_123456789",
                      "consents": [
                        {
                          "provider": "google_data",
                          "scopes": [
                            "https://www.googleapis.com/auth/dataportability.myactivity.search"
                          ],
                          "window": "fixed",
                          "valid_until": "2026-08-11T09:10:11.000000+00:00",
                          "status": "active",
                          "issued_at": "2026-02-12T09:10:11.000000+00:00",
                          "revoked_at": null
                        },
                        {
                          "provider": "gmail",
                          "scopes": [
                            "https://www.googleapis.com/auth/gmail.readonly"
                          ],
                          "window": "fixed",
                          "valid_until": "2026-08-11T09:10:11.000000+00:00",
                          "status": "revoked",
                          "issued_at": "2025-12-01T11:00:00.000000+00:00",
                          "revoked_at": "2026-01-15T14:20:00.000000+00:00"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                },
                "example": {
                  "detail": [
                    {
                      "loc": [
                        "query",
                        "uid"
                      ],
                      "msg": "Field required",
                      "type": "missing"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Invalid token"
                }
              }
            }
          },
          "404": {
            "description": "Subject not found",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Subject not found"
                }
              }
            }
          }
        },
        "x-mint": {
          "server": "https://link.emergedata.ai"
        }
      }
    },
    "/export/status/{uid}": {
      "get": {
        "tags": [
          "Link"
        ],
        "summary": "Get Export Status",
        "description": "Check export readiness per provider for a partner user (`uid`).\n\nUse `sources[]` and wait for the provider you need to report `data_ready: true`.",
        "operationId": "get_export_status_export_status__uid__get",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Uid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportStatusResponse"
                },
                "examples": {
                  "default": {
                    "summary": "Per-provider export readiness",
                    "value": {
                      "uid": "psub_d4e5f6789012345678901234abcdef01",
                      "sources": [
                        {
                          "provider": "google_data",
                          "data_ready": true,
                          "data_landed_at": "2026-02-12T09:10:11.000000+00:00",
                          "export_status": "completed",
                          "export_completed_at": "2026-02-12T09:10:11.000000+00:00"
                        },
                        {
                          "provider": "gmail",
                          "data_ready": false,
                          "data_landed_at": null,
                          "export_status": "running",
                          "export_completed_at": null
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                },
                "example": {
                  "detail": [
                    {
                      "loc": [
                        "query",
                        "uid"
                      ],
                      "msg": "Field required",
                      "type": "missing"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Invalid token"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "example": {
                  "detail": "User not found"
                }
              }
            }
          }
        },
        "x-mint": {
          "server": "https://link.emergedata.ai"
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CreateFlowConfigRequest": {
        "properties": {
          "config_name": {
            "type": "string",
            "title": "Config Name"
          },
          "company_name": {
            "type": "string",
            "title": "Company Name"
          },
          "logo_url": {
            "type": "string",
            "title": "Logo Url"
          },
          "privacy_policy_url": {
            "type": "string",
            "title": "Privacy Policy Url"
          },
          "webhook_url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Webhook Url"
          },
          "flow_version": {
            "type": "string",
            "title": "Flow Version",
            "default": "lm"
          },
          "is_default": {
            "type": "boolean",
            "title": "Is Default",
            "default": false
          }
        },
        "type": "object",
        "required": [
          "config_name",
          "company_name",
          "logo_url",
          "privacy_policy_url"
        ],
        "title": "CreateFlowConfigRequest",
        "description": "Request to create a new flow configuration via API."
      },
      "ExportStatusResponse": {
        "type": "object",
        "title": "ExportStatusResponse",
        "description": "Per-provider export readiness for a partner user.",
        "properties": {
          "uid": {
            "type": "string",
            "title": "Uid"
          },
          "sources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProviderExportStatus"
            },
            "title": "Sources"
          }
        }
      },
      "FlowConfigResponse": {
        "properties": {
          "config_id": {
            "type": "string",
            "title": "Config Id"
          },
          "config_name": {
            "type": "string",
            "title": "Config Name"
          },
          "company_name": {
            "type": "string",
            "title": "Company Name"
          },
          "logo_url": {
            "type": "string",
            "title": "Logo Url"
          },
          "privacy_policy_url": {
            "type": "string",
            "title": "Privacy Policy Url"
          },
          "webhook_url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Webhook Url"
          },
          "flow_version": {
            "type": "string",
            "title": "Flow Version"
          },
          "is_default": {
            "type": "boolean",
            "title": "Is Default"
          },
          "preview_url": {
            "type": "string",
            "title": "Preview Url"
          }
        },
        "type": "object",
        "title": "FlowConfigResponse",
        "description": "Response after creating a flow configuration."
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "ProviderExportStatus": {
        "type": "object",
        "title": "ProviderExportStatus",
        "description": "Export status for a single provider.",
        "properties": {
          "provider": {
            "type": "string",
            "title": "Provider"
          },
          "data_ready": {
            "type": "boolean",
            "title": "Data Ready"
          },
          "data_landed_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Data Landed At"
          },
          "export_status": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Export Status"
          },
          "export_completed_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Export Completed At"
          }
        }
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      },
      "ConsentStatusItem": {
        "type": "object",
        "title": "ConsentStatusItem",
        "properties": {
          "provider": {
            "type": "string",
            "title": "Provider"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "Scopes"
          },
          "window": {
            "type": "string",
            "title": "Window",
            "description": "Consent window type (currently fixed)."
          },
          "valid_until": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Valid Until"
          },
          "status": {
            "type": "string",
            "title": "Status",
            "description": "active or revoked"
          },
          "issued_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Issued At"
          },
          "revoked_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Revoked At"
          }
        }
      },
      "ConsentStatusResponse": {
        "type": "object",
        "title": "ConsentStatusResponse",
        "description": "Consent state by provider for a partner user.",
        "properties": {
          "sub": {
            "type": "string",
            "title": "Sub"
          },
          "client_id": {
            "type": "string",
            "title": "Client Id"
          },
          "consents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConsentStatusItem"
            },
            "title": "Consents"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API token from the Control Room. Include as `Authorization: Bearer <token>`"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Link",
      "description": "Consent flow configuration and status"
    }
  ]
}
